[ADB]
# adb install path
directory = C:\Program Files (x86)\ClockworkMod\Universal Adb Driver
[time]
#  go_time和下面的随机时间ramdom_min加起来要在实际上班时间之前，如：8:30上班，go_time=8:20 random_min=10 否则会迟到哦
go_time = 08:10
# off_time可以直接设实际下班时间
off_time = 17:30
#随机时间，用来错开上下班定时的时间，比如上班时间设为8:00，实际打卡时间会在8:00~8:05之间随机选择
random_min=0
#使用本地爬去的法定节假日，1为true为使用，false为不使用，设置false后需要填写exception
enable_calendar=true
#手动填写休息日，只有在enable_calendar=false或者日历文件失效时候才会使用该日期
exception=20180106,20190104
[weixin]
#target='self_'发送给自己的文件助手，发送给微信ID后面要填sex和city
target = spirit
sex=MALE
city=苏州
[screen]
# Screen shot image path (do not include Spaces in the path, in order to save the screen shot sent by the phone, and save it in the email)
screen_dir = D:\dingding
# Touch the screen on a series of coordinates.
[position]
# 解锁滑动坐标530 2065 -> 530 1493
light_position = 530 2065 530 1493

[operation]
#操作流程有 滑动：swipe  点击：tap，解锁开机等判断不需要考虑
#每个操作之间的时间间隔，根据手机性能不同调整
sleep_time=3
#上班流程  点击工作标签 点击打卡标签 点击上班打卡
#gowork_flow=tap  545 2073|tap 937 1970|tap 533 777
gowork_flow=tap  545 2073|tap 937 1970
#下班流程  点击工作标签 点击打卡标签 点击上班打卡
#afterwork_flow=tap  545 2073|tap 937 1970|tap 530 1205
afterwork_flow=tap  545 2073|tap 937 1970